/* Apply global smooth scrolling effect */
html {
  scroll-behavior: smooth;
}

/* Navbar styles */
nav {
  padding: 16px; /* Same as the p-4 in your JSX */
  /* position: fixed; */
  width: 50;
  top: 0;
  z-index: 100;
  
}

/* Adjust content to avoid overlap */
body {
  margin-top: 60px; /* Adjust this based on the height of your nav */
}

/* Navbar link styles */
nav a {
  text-decoration: none; /* Remove default underline */
  position: relative;
  color: inherit; /* Ensure links inherit color unless otherwise specified */
}

/* Hover effect */
nav a:hover {
  color: #4eecda; /* Violet text color on hover */
}

/* Underline hover effect */
nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: red;
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}

/* Ensure hover effects only apply to navbar list items */
nav ul li {
  position: relative;
}
